/**
 * TODO delete this file and mix in webpack!!
 */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 16px;
}

.board {
  margin-top: 10px;
  margin-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 8px;
  font-size: 24px;
  margin-bottom: 10px;
}

.square {
  float: left;
  height: 46px;
  margin-right: -1px;
  margin-top: -1px;
  width: 46px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.button-sort {
  width: 18px;
  height: 18px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history {
  font-weight: normal;
}

.history-current {
  font-weight: bold;
}

